.vscode
*.log
*.out
*.bin
*.swp
opencl/.run
opencl/run?
project/
RTLinf/RTLinf_project/RTLinf_project.cache/wt/synthesis.wdf
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/.vivado.begin.rst
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/RTLinf.dcp
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/RTLinf.tcl
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/RTLinf.vds
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/RTLinf_utilization_synth.pb
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/RTLinf_utilization_synth.rpt
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/gen_run.xml
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/incr_synth_reason.pb
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/project.wdf
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/vivado.jou
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/vivado.pb
RTLinf/RTLinf_project/RTLinf_project.sim/sim_1/behav/xsim/RTLinf_behav.wdb
RTLinf/RTLinf_project/RTLinf_project.sim/sim_1/behav/xsim/RTLinf_tb_behav.wdb
RTLinf/RTLinf_project/RTLinf_project.sim/sim_1/behav/xsim/tb_1_behav.wdb
RTLinf/RTLinf_project/RTLinf_project.sim/sim_1/behav/xsim/xsim.dir/RTLinf_behav/xsimSettings.ini
RTLinf/RTLinf_project/RTLinf_project.srcs/constrs_1/new/constraint.xdc
RTLinf/RTLinf_project/RTLinf_project.srcs/utils_1/imports/synth_1/RTLinf.dcp
RTLinf/RTLinf_project/RTLinf_project.xpr
RTLinf/RTLinf_project/RTLinf_project.cache/wt/project.wpc
RTLinf/RTLinf_project/RTLinf_project.runs/.jobs/vrs_config_10.xml
RTLinf/RTLinf_project/RTLinf_project.runs/.jobs/vrs_config_11.xml
RTLinf/RTLinf_project/RTLinf_project.runs/.jobs/vrs_config_5.xml
RTLinf/RTLinf_project/RTLinf_project.runs/.jobs/vrs_config_6.xml
RTLinf/RTLinf_project/RTLinf_project.runs/.jobs/vrs_config_7.xml
RTLinf/RTLinf_project/RTLinf_project.runs/.jobs/vrs_config_8.xml
RTLinf/RTLinf_project/RTLinf_project.runs/.jobs/vrs_config_9.xml
RTLinf/RTLinf_project/RTLinf_project.runs/synth_1/.Xil/
RTLinf/RTLinf_project/RTLinf_project.sim/sim_1/behav/xsim/xsim.dir/RTLinf_tb_behav/xsimSettings.ini
RTLinf/RTLinf_project/RTLinf_project.sim/sim_1/behav/xsim/xsim.dir/tb_1_behav/xsimSettings.ini